.title {
  font-family: 'HypikRegular', sans-serif;
  -webkit-text-stroke: 1.25px var(--stroke-color);
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 8px;
  
}

.subtitle {
  font-family: 'Mechsuit', sans-serif;
}

.stats {
  font-family: "Big Shoulders", sans-serif;
}

@keyframes levitate {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.levitating {
  animation: levitate 3s ease-in-out infinite;
}