@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'JuliusSansOne';
    src: url('/fonts/JuliusSansOne-Regular.woff2') format('woff2'),
        url('/fonts/JuliusSansOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "Poppins", sans-serif;
    min-height: 100%;
    margin: 0;
    background-color: white;
    min-width: 300px;
}

html {
    scroll-behavior: smooth;
}

.stroke-text {
    -webkit-text-stroke: 1px #c7a900;
}

.navbar {
    transform: translateX(100%);
    transition: transform 0s;
}

.navbar-active {
transform: translateX(0);
animation: slide-in 0.2s ease-out forwards;
}

.navbar-closing {
transform: translateX(0);
animation: slide-out 0.2s ease-out forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@media (width <= 640px) {
    .stroke-text {
        -webkit-text-stroke: 1px black;
    }
    .member-cards {
        display: flex;
        flex-direction: column;
    }
}
::-webkit-scrollbar {
    width: 0;
}  

@media (width <= 1000px) {
    .hidden-xs {
        display: none;
    }
    .show-xs {
        display: flex;
    }
    .social-networks-styles {
        margin-inline: auto;
        justify-items: center;
        column-gap: 0;
        width: fit-content;
        flex: content;
    }
    .member-cards {
        row-gap: 1rem;
    }
    .project-cards {
        width: 20rem;
        height: 8rem;
        /* background-color: color-mix(in oklab, var(--color-black) #000 = #000000 50%);*/
        background-color: rgba(0, 0, 0, 0.5);
    }
    .h0 {
        height: 0%;
    }
    .h100 {
        height: 100%;
    }
    .flexcolumn {
        flex-direction: column;
    }
    .transparent50 {
        --tw-brightness: brightness(50%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
    }
    .opacity100 {
        opacity: 100%;
    }
    .text-project-card {
        font-size: var(--text-4xl);
        line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
    .gap-projects {
        gap: 1rem;
    }
    .width {
        width: 70vw;
    }
    .div-projects {
        height: 60rem;
    }
    .button-pages {
        bottom: calc(var(--spacing) * -28);
    }
}

@media (width > 1000px) and (width < 1536px) {
    .hidden-xs {
        display: none;
    }
    .show-xs {
        display: flex;
    }
    .social-networks-styles {
        margin-inline: auto;
        justify-items: center;
        column-gap: 0;
        width: fit-content;
        flex: content;
    }
    .member-cards {
        row-gap: 1rem;
    }
    .project-cards {
        width: 27rem;
        height: 11rem;
        /* background-color: color-mix(in oklab, var(--color-black) 50%, transparent); */
    }
    .h0 {
        height: 0%;
    }
    .h100 {
        height: 100%;
    }
    .text-project-card {
        font-size: var(--text-4xl);
        line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
    .flex-div-projects {
        gap: 1rem;
    }
    .div-projects {
        height: 68rem;
    }
    .h70 {
        height: 70%;
    }
    .h40 {
        height: 60%;
    }
    .pages {
        bottom: calc(var(--spacing) * 25)
    }
    .button-pages {
        bottom: calc(var(--spacing) * -30);
    }
}

@media (width < 1023px) and (width < 1536px) {
    .hidden1023 {
        display: none;
    }
    .show1023 {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 576px) {
    .m1 {
        row-gap: 1rem;
    }
}

@media (width <= 1015px) {
    .scrolltoTop {
        display: none;
    }
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 4rem;
    gap: 4rem;
    margin-right: 8rem;
}

@media (width <= 700px) {
    .social-networks {
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .copy-text {
        color: #888;
    }
}


.julius-font {
    font-family: 'Julius Sans One', sans-serif;
}